@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body{
    margin:0 0 55px 0;
    overflow-y: hidden; 
    overflow-x: hidden; 
}

* {
    font-family: 'Noto Sans KR', sans-serif;
   
}
.header{
    background:rgb(71, 117, 245);
    outline: none;
    margin:0;
    padding-left:5px;
    width: 100%;
    cursor:pointer;

  }
  .header a{
    text-decoration: none;
  }
  
  h2{
    color:aliceblue;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 2px;
    font-size:20px;
  }
  .search{
    display: flex;
    align-items: center;
    width:100%;
    margin-right:20px;
}
.container{
    position:absolute; 
    top:65px; 
    bottom:20px; 
    left:0px; 
    right:0px; 
    overflow-x:hidden; 
    padding-bottom: 50px;
}

.btn{
  background-color: rgb(71, 117, 245);
  border-width: 0.5px;
  height: 25.3px;
  width: auto;
}
.btn:hover{
  color: white;
  cursor: pointer;
}
.crc #circle
    {
        font-size: 40px; 
        color: rgb(27, 55, 133); 
        position: absolute; 
        margin-top: 6px; 
        margin-left: 10px;
    }
.bs #bus{
        color: white; 
        position: absolute; 
        margin-left: 18px;
         margin-top: 15px;
    }

.crc1 #circle1{
        font-size: 40px; 
        color:rgb(27, 55, 133); 
        position: absolute; 
        margin-top: 6px; 
        margin-left: 10px;
    }

    .bs1 #bus1{
      color: white; 
      position: absolute; 
      margin-left: 18px;
      margin-top: 14px;
    }
  .block{
    width:150%;
    height:40px;
    display: inline-block;
    color:black;
    align-items: center;
    text-align: justify;
    background-color:white;
    border:none;
    word-wrap: none;
    padding-top:3px;
    padding-bottom:3px;
    padding-left: 50px;
    margin-top: 5.5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  .block:hover{
      background-color: rgb(71, 117, 245);
      color: white;
  }
  
  .nav {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color:#ffffff;
    display: flex;
    overflow-x: auto;
}


.nav__link{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    flex-grow: 1;
    min-width: 50px;
    overflow:hidden;
    white-space: nowrap;
    font-size: 13px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
    border-right: 1px solid rgba(0,0,0,0.2);
}

.nav__link:last-child{
    border-right: none;

}
.nav__link:hover{
    background-color: #eeeeee;
}

.nav__link--active {
    color:rgb(71, 117, 245);
}

.nav__icon{
    font-size:18px;
    
}

#footer {
    margin-bottom: 50%;
    height: 50px;
    flex-shrink: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 150;
    overflow: hidden;
  }
      #footer_push {
        clear: both;
        height: 50px;
      }

